#container {
   width: 100%;
   height: auto;
   color: var(--theme-dark-shade);
   background-color: var(--theme-white-shade);
}

#progress-bar {
   width: 100%;
   display: block;
   position: relative;
   height: 0.2rem;
   background: var(--theme-primary-shade);
}

#progress-bar:after {
   position: absolute;
   top: 0;
   left: 0;
   height: 0.2rem;
   content: '';
   background: var(--theme-dark-shade);
}

.space-y-8 > div:nth-child(1) #progress-bar:after {
   width: 90%;
}

.space-y-8 > div:nth-child(2) #progress-bar:after {
   width: 80%;
}

.space-y-8 > div:nth-child(3) #progress-bar:after {
   width: 60%;
}

.space-y-8 > div:nth-child(4) #progress-bar:after {
   width: 20%;
}

.space-y-8 > div:nth-child(5) #progress-bar::after {
   width: 80%;
}

.space-y-8 > div:nth-child(6) #progress-bar::after {
   width: 40%;
}
