@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif&family=Poppins&family=Roboto&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

#font-DM {
   font-family: 'DM Serif Display', serif;
   font-weight: 400;
   font-style: normal;
}

#font-Noto {
   font-family: 'Noto Serif', serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

#font-Code {
   font-family: 'Source Code Pro', monospace;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
}

/* Not used till now*/

#font-Poppins {
   font-family: 'Poppins', serif;
   font-weight: 400;
   font-style: normal;
}

#font-Roboto {
   font-family: 'Roboto', serif;
   font-weight: 400;
   font-style: normal;
}
