@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --theme-dark-shade: #111;
   --theme-white-shade: #fff;
}

#header-container {
   width: 100%;
   height: 95vh;
   position: relative;
   background-color: var(--theme-dark-shade);
   color: var(--theme-white-shade);
}

#header-first {
   top: 0;
   z-index: 1;
   width: 100%;
   position: absolute;
}

#header-last {
   bottom: 0;
   z-index: 1;
   width: 100%;
   position: absolute;
}

#sidebar {
   top: 0;
   width: 80%;
   z-index: 1;
   height: 95vh;
   position: absolute;
}

.content {
   font-family: 'Poppins', sans-serif;
}

.progress-bar {
   display: block;
   width: 100%;
   height: 0.2rem;
   background-color: --theme-dark-shade;
   position: relative;
}

.progress-bar::before {
   content: '';
   display: block;
   width: 50%;
   height: 0.2rem;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #999;
}

.progress-bar:nth-child(4)::before {
   width: 80%;
}

.btn {
   z-index: 1;
   position: relative;
   transition-duration: 0.4s;
}

.btn:hover {
   color: #000;
}

.btn:first-child:after {
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   z-index: -1;
   content: ' ';
   position: absolute;
   background-color: var(--theme-white-shade);
   transition-duration: 0.4s;
}

.btn:hover::after {
   width: 100%;
}

.btn:last-child {
   color: #000;
}

.btn:last-child::after {
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   content: ' ';
   position: absolute;
   background-color: var(--theme-white-shade);
   transition-duration: 0.4s;
}

.btn:last-child:hover {
   color: var(--theme-white-shade);
}

.btn:last-child:hover::after {
   width: 0%;
}

.width {
   width: 24rem;
}

@media (max-width: 767px) {
   .width {
      width: 100%;
   }
}
