#empty {
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: var(--theme-dark-shade);
   color: transparent;
   font-size: 7rem;
   transition-duration: 0.2s;
   position: relative;
}

#empty::after {
   content: 'Hello';
   position: absolute;
   top: 0;
   left: 0;
   height: auto;
   width: 0%;
   color: var(--theme-dark-shade);
   border-right: 0.2rem solid var(--theme-dark-shade);
   overflow: hidden;
   animation: animate 6s linear infinite;
}

@keyframes animate {
   45% {
      width: 100%;
      border-right: 0.2rem solid var(--theme-dark-shade);
   }

   50% {
      border-right: 0.2rem solid transparent;
   }

   55% {
      width: 100%;
      border-right: 0.2rem solid var(--theme-dark-shade);
   }

   100% {
      width: 0%;
   }
}
